* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#galva {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0F1624;
  height: 100vh;
  background-image: url(/figma1/foto/hero_img.svg);
  background-repeat: no-repeat;
  background-position: bottom -152px right -50px;
  background-size: 583px 583px cover;
}

.logo {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 137px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 497px;
  justify-content: space-between;
}

.linkai {
  display: flex;
  align-items: center;
  list-style-type: none;

}

.social {
  padding: 0px 56px;
}

.social1 {
  filter: invert();
  margin-right: 70px;
}

.social img {
  width: 30px;
  height: 30px;
}

.social1 img {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navbar p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-left: 30px;
}

.menu li {
  padding: 0px 6px;
}

h1 {
  color: white;
  margin-left: 78px;
  font-size: 55px;
  margin-top: 150px;
}

.vidus p {
  color: #BCBCBC;
  margin-left: 78px;
  margin-top: 67px;
  font-size: 30px;
  width: 810px;
  letter-spacing: 0.2px;
}

#hero {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

}


.begin {
  font-size: 28px;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 78px;
  margin-top: 94px;
  width: 280px;
  height: 80px;
  background-image: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-radius: 86px;
  text-align: center;
}


.begin a {
  line-height: 80px;
}

.nav-menu a:hover {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-image-slice: 1;
  transition: all 0.5s
}

.linkai .social a:hover {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-image-slice: 1;
  transition: all 0.5s
}

.linkai .social1 a:hover {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-image-slice: 1;
  transition: all 0.5s
}

#nav-burger {
  font-size: x-large;
  color: white;
  background-color: #0F1624;
  border: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: white;
}

.begin:hover {
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%);
}

.vidus1 {
  color: white;
  margin-top: 100px;
  margin-bottom: -52px;
}

.container {
  max-width: 1170px;
  display: flex;
  padding: 25px;
  border-top-left-radius: 53px 53px;
  border-bottom-right-radius: 53px 53px;
  box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
  margin-top: -65px;
  margin-left: -22px;
}

.foto1 {
  width: auto;
  height: 100%;
}

h3 {
  padding-top: 73px;
  padding-right: 55px;
  position: relative;
  font-size: 36px;
  text-align: center;
  line-height: 31px;
  font-weight: 600;
}

h3::after {
  content: '';
  position: absolute;
  width: 133%;
  height: 10px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  bottom: -33px;
  left: -22%;
  border-radius: 30px;
}

.tekstas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.foto {
  margin-top: 13px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.tekstas p {
  padding-top: 63px;
  max-width: 500px;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  line-height: 42px;
}

.look {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 220px;
  height: 80px;
  background-image: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-radius: 86px;
  text-align: center;
}

h2 {
  margin: 178px 46px;
  font-size: 55px;
  font-weight: 600px;
  color: white;
}


.pirmas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 53px;
  padding: 30px 30px 0px 30px;
  border-top-left-radius: 53px 53px;
  border-bottom-right-radius: 53px 53px;
  box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(118, 122, 130, 0.75);
}


.container1 {
  margin: 80px -89px;
  display: flex;
  padding-right: 83px;
}


h4 {
  margin: 25px 0px;
  position: relative;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  line-height: 31px;
}

.lygu::after {
  content: '';
  position: absolute;
  width: 151%;
  height: 4px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  bottom: -28px;
  left: -21%;
}

.lygu1::after {
  content: '';
  position: absolute;
  width: 151%;
  height: 4px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  bottom: -22px;
  left: -20%;
}

.begin1 {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 227px;
  height: 69px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-radius: 86px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 26px;
  margin-top: 16px;
}

.begin2 {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 227px;
  height: 69px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-radius: 86px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: -24px;
  margin-top: 16px;
}

.beginer {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 227px;
  height: 69px;
  background: linear-gradient(90deg, #945dd6 0%, #6978d1 40%, #13adc7 80%);
  border-radius: 86px;
  text-align: center;
  margin-bottom: 49px;
  margin-left: -18px;
}

.begin1:hover {
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%);
}

.begin2:hover {
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%);
}

.beginer:hover {
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%);
}


.pirmas p {
  font-size: 28px;
  line-height: 42px;
  margin: 24px 0;
}

.lygu {
  margin: 28px 0;
}

.lygu1 {
  margin-top: 31px;
  margin-left: -30px;
}

.lygiau {
  padding-left: 14px;
}

.vidus2{
  color: white;
}

.main-bar{
  margin-top: 140px;
  margin-left: -21px;
  font-size: 36px;
}
.bar-bar{
  width: 100%;
  height: 32px;
  border-radius: 30px;
  background-color: #162950;
}
.first{
  width: 72%;
  height: 32px;
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%); 
  border-radius: 30px;
}
.second{
  width: 48%;
  height: 32px;
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%); 
  border-radius: 30px;
}
.third{
  width: 24%;
  height: 32px;
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%); 
  border-radius: 30px;
}
.end{
 display: flex;
 justify-content: space-between;
 margin: -11px 23px;
 margin-top: -75px;
}

h5{
  margin-top: 100px;
  font-size: 48px;
}

.listai{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  padding-right: 260px;
}

.listai li{
  margin-top: 15px;
  list-style-image: url(/figma1/foto/burbuliukas.svg);
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}


.tarpas{
margin-left: 30px;
}

.burbuliukas{
  margin-left: 50px
}

.about{
  display: flex;
  justify-content: space-around;
}

.about-me{
  color: white;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;

  padding: 0 50px;
  line-height: 42px;
  font-size: 28px;
}
.avatar{
  width: 328px;
  height: 346px;
  margin-top: -300px;
}

.avataras{
  max-width: 600px;
}

.burbulas{
  width: 349px;
  height: 315px;
  background: linear-gradient(90deg, #13adc7 0%, #6978d1 40%, #945dd6 80%);
  border-radius: 0 50% 50% 50%;
}


footer{
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.pabaiga{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  
}
.grupe{
  display: flex;
}

.socials{
  display: flex;
  align-items: center;
}

.call{
  font-size: 42px;
}
.email{
  margin-left: 50px;
  font-size: 42px;
}
.twiter{
  margin-right: 10px;
}

.tech{
  margin-left: 79px;
  font-size: 63px;
}

sub{
font-size: 24px;
margin-right: 141px;
}
.lygiuot{
  margin-right: 30px;
}
.lygiuot1{
  margin-top: 5px;
  margin-right: 25px;
}

@media (max-width: 960px) {
  h1 {
    font-size: calc(30px + 30 * (100vw / 1200))
  }

  .menu {
    display: none
  }

  .linkai {
    display: none;
  }

  .vidus {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    margin-left: 30px;
  }

  body {
    background-position: bottom -100px right -50px;
    background-size: 583px 583px;
  }

  /* burgeris */

  .hamburger {
    display: block;
    margin: 50px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    background-color: #0F1624;
    width: 100%;
    text-align: center;
    transition: 0.2s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .linkai.active {
    left: 0;
    display: block;
  }

  h1 {
    margin-top: 0px;
    margin-left: 30px;
  }

  .vidus p {
    margin-left: 30px;
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200))
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 auto;
    box-shadow: none;

  }

  .foto {
    display: flex;
    justify-content: center;
  }

  .foto1 {
    height: 100%;
    max-width: 370px;
  }

  .foto2 {
    height: 100%;
    max-width: 385px;
  }

  .foto3 {
    height: 100%;
    max-width: 385px;
  }

  .tekstas {
    margin-left: 55px;
  }

  .begin1 {
    margin-top: 25px;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: none;
    border-bottom: solid;
    border-bottom-right-radius: none;
    margin-left: 15px;
  }

  .container1 p {
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.3;
  }

  .container p {
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.3;
  }

  .pirmas {
    margin: 10px auto;
  }

  .beginer {
    margin-top: 20px;
  }
.ly{
  margin-left: 50px;
}
.tech{
  margin: 100px auto
}
.about{
  display: flex;
  flex-wrap: wrap-reverse;
}
.call{
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.3;
}
.email{
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
    line-height: 1.3;
}
.socials{
 margin-left: 10px;
}
.main-bar{
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
}
sub{

  margin: 0 auto;
}
.vidus3 h2{
  margin: 50px 50px;
}
.pabaiga{
  margin: 15px
}
.vidus2 h2{
font-size: calc(55px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200)); ;
}
.socials img{
  width: 50px
}
.about-me{
  font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
  line-height: 1.3;
  border-bottom: solid;
}
.vidus2 h5{
  text-align: center;
  border-top: solid;
}
.vidus2{
  border-bottom: solid;
}

}

@media (max-width: 420px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border-bottom: solid;
    border-bottom-right-radius: 0px 0px;
  }

  .container1 {
    margin: 0 auto;
    padding: 0;
    padding: 0 auto;
    box-shadow: none;
  }

  .pirmas {
    width: 100%;
    box-shadow: none;
    margin: 0 auto;
    border-bottom: solid;
    border-bottom-right-radius: 0px 0px;
  }

  .pirmas1 {
    width: 100%;
    box-shadow: none;
  }

  .foto2 {
    max-width: 100%;
  }

  .foto3 {
    max-width: 100%;
  }

  .beginer {
    margin-top: 20px;
  }

  .tekstas {
    margin-left: 30px;
  }

  h2 {
    margin: 0 75px;
    text-decoration: underline;
  }
  .listai{
    display: flex;
    flex-direction: column;
    padding: 0;
}
sub{
  font-size: calc(15px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
}
}


@media (max-width: 360px) {
  .foto1 {
    max-width: 90%;
  }

  }


@media (max-width: 768px) {
  .container1 {
    margin: 0 auto;
    padding: 0%;
  }
}

@media (max-width:1300px) {
  .container1{
    display: flex;
    flex-wrap: wrap;
  }
}